<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Ceļot prieks</title>
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body>
    <div class="background">
        <div class="background--blur"></div>
        <div class="content">
            <header>
                <img src="../static/images/plane.svg" alt="">
                <h1 class="header__title">Celot Prieks</h1>
            </header>
                <div class="nav">
                    <ul>
                        <li>
                            <a href="#">Lidojumi</a>
                        </li>
                        <li>
                            <a href="#">Lidojumi</a>
                        </li>
                        <li>
                            <a href="#">Lidojumi</a>
                        </li>
                    </ul>
                </div>
            <footer>
                <div class="footer__links">
                    <a href="#"><img src="../static/images/twiter.svg" alt=""></a>
                    <a href="#"><img src="../static/images/inst.svg" alt=""></a>
                    <a href="#"><img src="../static/images/facebook.svg" alt=""></a>
                </div>
                <h3>Brīvības iela 74</h3>
            </footer>
        </div>
    </div>
    <script src="main.js"></script>
  </body>
</html>